 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #5a95ff;
 }

.container{
    width: 50%;
    height: 555px;
    padding: 2em 2.5em;
    background-color: #f1f1f1;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
    border-radius: 0.8em;
    margin: 0 auto;
   
}
h1{
    text-align: center;
    padding: 10px;
}


#taskList {
    list-style: none;
    padding: 10px;
  
  }
  #taskInput{
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 3px;
    padding: 10px;
  }
  
  .task {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;

  }
  
  #remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;

  }
  
  .add{
    background-color: #5a95ff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  